<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
  background-color: #DCEFFB;
}
        div {
        background-color: #E8F8F5;
          width: 75%;
          border: 2px solid rgb(0, 4, 0);
          padding: 10px;
          margin: auto;
          overflow: auto;
          word-wrap: break-word;
        }
        </style>
    <title>Secret</title>
</head>
<body>
    <div class="new">
        <h3>{{secret_key}}</h3>
    </div>
    

    
</body>
</html>